atomicwrites==1.4.0
attrs==20.3.0
importlib-metadata==3.3.0
iniconfig==1.1.1
more-itertools==8.6.0
numpy==1.20.3
packaging==20.8
pluggy==0.13.1
py==1.10.0
pygame==2.0.1
pygame-menu==4.0.6
pyparsing==2.4.7
pyperclip==1.8.1
pytest==6.2.4
six==1.15.0
toml==0.10.2
typing-extensions==3.10.0.0
wcwidth==0.2.5
zipp==3.4.0
tabulate
opencv-python
scipy
